In [ ]:
print ("Hello World!")

Hello World!

In [ ]:
x=5
print(x)

5

In Python, the assignment operator (`=`) is used to assign values to variables. Here are three examples:

1.  **Assigning a numerical value:**

In [ ]:
    # Assign the string "Alice" to the variable 'name'
    name = "Alice"
    print(name)

Alice

In [ ]:
    # Assign the result of the addition (5 + 3) to the variable 'sum_result'
    sum_result = 5 + 3
    print(sum_result)

8

In [ ]:
# Assign the boolean value True to the variable 'is_active'
is_active = True
print(is_active)

True

In [ ]:
a=3
b=5
c=a**2+b**2
c

34

Download the dataset and put the dataset in the code, then paste the right answer. Upload your code as well

In [ ]:
## Rosalind Question #1
a=934
b=814
c=a**2+b**2
print(c)

1534952

#P6.1

In [ ]:
# Input usage
name = input("Enter your name: ")
print("Hello, " + name)

Enter your name: Alain
Hello, Alain

#P6.2

In [ ]:
#Input usage for Rosalind #1
a= input("What is the value of a? ")
b= input("What is the value of b? ")
c=int(a)**2+int(b)**2 # must put int in front that whatever input is turned into a int
print(c)

What is the value of a? 834
What is the value of b? 254
760072

#P7.1

In [ ]:
my_list = ["Hello", "World", "Charles Darwin"]
print(my_list[1])

World

#P7.2

In [ ]:
my_list[2]="Alfred R. Wallace"
print(my_list)

['Hello', 'World', 'Alfred R. Wallace']

#P7.3

In [ ]:
my_list.append("Charles Darwin")
print(my_list)

['Hello', 'World', 'Alfred R. Wallace', 'Charles Darwin']

#P7.4

['Hello', 'Rosalind Franklin', 'World', 'Alfred R. Wallace', 'Charles Darwin']

#P8.1

In [ ]:
print (my_list[2:4]) #endpoints are non-inclusive

['World', 'Alfred R. Wallace']

In [ ]:
my_string="HelloWorldCharlesDarwinAlfred R. Walace"
print(my_string[0:5], my_string[5:10])

Hello World

#P8.2

In [ ]:
print(my_string[33:39], my_string[5:10])

Walace World

#P8.3: Rosalind Problem #2

In [ ]:
my_string2="HumptyDumptysatonawallHumptyDumptyhadagreatfallAlltheKingshorsesandalltheKingsmenCouldntputHumptyDumptyinhisplaceagain."

print(my_string2[22:28],my_string2[97:103])

Humpty Dumpty

In [ ]:
my_string3="Pv6RwUIbq2B5555dMHq0MmWsLxRESVJPm84PSEPA3WOEDtLBzQKKHquV9Gqb7UoYlYldSUCiconiaR5AWBFtS0Y8Xumy6YBFBTleptochelisIstdrAl3hAORXijhE7nGIl29l61VxcI5vYfXhrenHlEQqyrytJlQERfBc5DWAqKl7phiZ"

print(my_string3[70:77], my_string3[98:109])

Ciconia leptochelis

#P9.1

In [ ]:
a=5
b=5
if a!=b:
  print(a-b)
else:
  print(a+b)

10

#P10.1

In [ ]:
a=1
while a <= 3:
  print("Counting!")
  a +=1

Counting!
Counting!
Counting!

In [ ]:
a=1
while a <= 3:
  print("Counting!" * a)
  a +=1

Counting!
Counting!Counting!
Counting!Counting!Counting!

#P11.1

In [ ]:
names = ["Alice","Bob","Charley"]
for name in names:
  print("Hello", name)

Hello Alice
Hello Bob
Hello Charley

#P12.1

In [ ]:
iterations = 10
for number in range(iterations):
  print(number)

0
1
2
3
4
5
6
7
8
9

#P12.2

In [ ]:
for number in range(9, 28, 3): #starts at 9, ends at 27, hops by 3
    print(number)

9
12
15
18
21
24
27

#P12.3 Rosalind Problem #3

In [ ]:
a = 100
b = 200

total = sum(number for number in range(a, b + 1) if number % 2 == 1)
        # sum = adding them up
        # range(a,b+1)= makes sure it's including the actual numbers
        # not the one before it
        # used the hint to make sure its odd
print(total)

7500

In [ ]:
a=4782
b=9578
total = sum(number for number in range(a, b + 1) if number % 2 == 1)
print(total)

17217640

#P13.2

In [1]:
with open("rosalind_ini5 (2).txt") as data:
  print(data.readline())

`Twas brillig, and the slithy toves

#P15.2

In [ ]:
with open("rosalind_ini5 (2).txt") as input, open("output.txt", "w") as output:
    for i, line in enumerate(input, start=1):
        if i % 2 == 0:
            output.write(line)   # write to output file
            print(line, end="")   # print here so we can see

Some things in life are bad, they can really make you mad
Other things just make you swear and curse
When you're chewing on life's gristle, don't grumble give a whistle
This will help things turn out for the best
Always look on the bright side of life
Always look on the right side of life
If life seems jolly rotten, there's something you've forgotten
And that's to laugh and smile and dance and sing
When you're feeling in the dumps, don't be silly, chumps
Just purse your lips and whistle, that's the thing
So, always look on the bright side of death
Just before you draw your terminal breath
Life's a counterfeit and when you look at it
Life's a laugh and death's the joke, it's true
You see, it's all a show, keep them laughing as you go
Just remember the last laugh is on you
Always look on the bright side of life
And always look on the right side of life
Always look on the bright side of life
And always look on the right side of life