In [ ]:
print ("Hello World!")

Hello World!

In [ ]:
x=5
print(x)

5

In Python, the assignment operator (`=`) is used to assign values to variables. Here are three examples:

1.  **Assigning a numerical value:**

In [ ]:
    # Assign the string "Alice" to the variable 'name'
    name = "Alice"
    print(name)

Alice

In [ ]:
    # Assign the result of the addition (5 + 3) to the variable 'sum_result'
    sum_result = 5 + 3
    print(sum_result)

8

In [ ]:
# Assign the boolean value True to the variable 'is_active'
is_active = True
print(is_active)

True

In [ ]:
a=3
b=5
c=a**2+b**2
c

34

Download the dataset and put the dataset in the code, then paste the right answer. Upload your code as well

In [1]:
## Rosalind Question #1
a=934
b=814
c=a**2+b**2
print(c)

1534952

#P6.1

In [2]:
# Input usage
name = input("Enter your name: ")
print("Hello, " + name)

Enter your name: Alain
Hello, Alain

#P6.2

In [6]:
#Input usage for Rosalind #1
a= input("What is the value of a? ")
b= input("What is the value of b? ")
c=int(a)**2+int(b)**2 # must put int in front that whatever input is turned into a int
print(c)

What is the value of a? 834
What is the value of b? 254
760072

#P7.1

In [16]:
my_list = ["Hello", "World", "Charles Darwin"]
print(my_list[1])

World

#P7.2

In [17]:
my_list[2]="Alfred R. Wallace"
print(my_list)

['Hello', 'World', 'Alfred R. Wallace']

#P7.3

In [18]:
my_list.append("Charles Darwin")
print(my_list)

['Hello', 'World', 'Alfred R. Wallace', 'Charles Darwin']

#P7.4

['Hello', 'Rosalind Franklin', 'World', 'Alfred R. Wallace', 'Charles Darwin']

#P8.1

In [20]:
print (my_list[2:4]) #endpoints are non-inclusive

['World', 'Alfred R. Wallace']

In [21]:
my_string="HelloWorldCharlesDarwinAlfred R. Walace"
print(my_string[0:5], my_string[5:10])

Hello World

#P8.2

In [25]:
print(my_string[33:39], my_string[5:10])

Walace World

#P8.3

In [36]:
my_string2="HumptyDumptysatonawallHumptyDumptyhadagreatfallAlltheKingshorsesandalltheKingsmenCouldntputHumptyDumptyinhisplaceagain."

print(my_string2[22:28],my_string2[97:103])

Humpty Dumpty

In [37]:
my_string3="Pv6RwUIbq2B5555dMHq0MmWsLxRESVJPm84PSEPA3WOEDtLBzQKKHquV9Gqb7UoYlYldSUCiconiaR5AWBFtS0Y8Xumy6YBFBTleptochelisIstdrAl3hAORXijhE7nGIl29l61VxcI5vYfXhrenHlEQqyrytJlQERfBc5DWAqKl7phiZ"

print(my_string3[70:77], my_string3[98:109])

Ciconia leptochelis